.container{
  padding: 5%;
}
.inputSearch{
  width: 80%;
}
.btn-create{
  height: 80px;
  width: 80px;

  /* Posição */
  margin-left: 80%;
  position: absolute;
  top: 10%;
}
table {
  width: 100%;
}
